# Dependency directories
node_modules/

# Local env files
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test coverage
coverage/

# Debug data
users.txt
cors.txt
check_users.js
check_otps.js
